---
layout: default
---



<h2>Description</h2>
<p>The aim of this conference is to join together researchers, with a view on exploring the connections of algebra and geometry in its many varied incarnations. 



<h2>List of speakers</h2>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.tbc %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

<p>* to be confirmed</p>




<h2>Organisation</h2>
<ul class="names">
   <li><span class="name"><a href="http://www.kueng.at/felix">Felix Küng</a></span></li>
   <li><span class="name">Špela Špenko</span></li>
</ul>

<p>The conference is supported through the FNRS.

