---
layout: default
---



<h2>Description</h2>
<p>The aim of this workshop is to explore the connections of algebra and geometry in its many varied incarnations. 



<h2>Speakers</h2>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.tbc %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>


<h2>Participants</h2>
<p>Please register <a class="one" href="https://forms.gle/VPiZezaGS3CWcW2t5">here. For financial support, please apply by September 1. </a>
  

<h2>Schedule</h2>
{% for day in site.data.schedule %}
<h3>{{ day.date }}</h3>
<dl class="schedule">
  {% for slot in day.slots %}
    <dt>{{ slot.time }}
    {% if slot.talk %}
      {% assign talk = site.data.talks[slot.talk] %}
      {% assign speaker = site.data.speakers[slot.talk] %}
      {% if site.data.talks[slot.talk] %}
        <dd class="title">
          <a href="{{ site.baseurl }}/abstracts#{{ slot.talk }}">{{ talk.title }}</a>
          (<span class="name">{{ speaker.name }}</span>) 
        </dd>
      {% else %}
        <dd>5 minute talks</dd>
      {% endif %}
      {% if talk.speaker == "wemyss" %}(<a href="wemyss.pdf">slides</a>){% endif %}
      {% if talk.speaker == "yekutieli" %}(<a href="http://www.math.bgu.ac.il/~amyekut/lectures/WPR-stable/notes-v2.pdf">slides</a>){% endif %}
    {% elsif slot.other %}
      <dd>{{ slot.other }}
    {% else %}
      <dd><em>to be determined</em></dd>
    {% endif %}
  {% endfor %}
{% endfor %}
</dl>


<h2>Organisation</h2>
<p>If you have any questions please contact the organisers.

<ul class="nameso">
   <li><span class="name"><a href="http://www.kueng.at/felix">Felix Küng</a></span></li>
   <li><span class="name"><a href="mailto:spela.spenko@ulb.be">Špela Špenko</a></span></li>
</ul>

<p>The conference is supported through the FNRS.

