<dl class="schedule">
  <dt>10:00&ndash;10:45
  <dd class="title"><a href="{{ site.baseurl }}/abstracts#halfway-manin">{{ talk.title }}</a>Quantisation in monoidal categories and quantum operads</a>
  <dd class="speaker">Yuri Manin, Max Planck Institute for Mathematics
  <dd class="abstract">The most standard description of symmetries of a mathematical structure produces a group. However, when the definition of this structure is motivated by physics, or information theory, etc., the respective symmetry objects might become more sophisticated: quasigroups, loops,  quantum groups, ... In this talk I introduce and study quantum symmetries of very general categorical structures: <em>operads</em>. Its initial motivation were spaces of probability distributions on finite sets.

  <dt>10:45&ndash;...
  <dd class="title">meeting in Gather.town<br><br>

  <dt>15:00&ndash;15:45
  <dd class="title">Simultaneous categorical resolutions (<a href="https://www.youtube.com/watch?v=U7dIKwKTqf8">video</a>)
  <dd class="speaker">Alexander Kuznetsov, Steklov Mathematical Institute
  <dd class="abstract">It is a classical fact, that for a family of surfaces over a smooth curve with smooth general fiber, if the special fiber has only rational double points as singularities, then after a possible finite base change, one can resolve the singularities of the total space and the special fiber by a common blowup. I will talk about a categorical version of this construction that surprisingly also works in higher dimensions and, if time permits, about its applications.

  <dt>16:00&ndash;16:45
  <dd class="title">From geometric quantization to noncommutative algebraic geometry (<a href="https://www.youtube.com/watch?v=zrZ5pV0Yjn0">video</a>, <a href="/assets/gualtieri.pdf">notes</a>)
  <dd class="speaker">Marco Gualtieri, University of Toronto
  <dd class="abstract">The usual homogeneous coordinate rings studied in algebraic geometry may be obtained from quantization of the integer multiples of a symplectic structure, via the choice of a complex polarization. I will explain how this framework may be deformed, making contact with noncommutative algebraic geometry. The main tool will be the deformation of the complex polarization to a generalized complex polarization. This is joint work with Francis Bischoff (arXiv:2108.01658).
</dl>

