<head>
  <meta charset="utf-8">
  <title>Tale of Geometries</title>

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link type="text/css" rel="stylesheet" href="css/normalize.css/normalize.css">
  <link type="text/css" rel="stylesheet" href="css/main.css">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Tale of Geometries">
  <meta property="og:description" content="a conference on the interplay between algebra and geometry">



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>

  <script defer data-domain="nc-shapes.info" src="https://plausible.io/js/script.js"></script>
</head>
